/*
.dashboard-link{
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}
*/

.message-fields{
	border: 1px solid #888;
	border-radius: 5px;
	width: 480px;
	padding: 16px;
}

.field-wrapper{
	position: relative;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* field-label */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
.field-label{
	display: inline-block;
	position: absolute;
	top: 0px;
	margin-top: 4px;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* field-content */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
.field-content{
	display: inline-block;
	margin-left: 70px;
}
.field-content input[type="text"]{
	border-radius: 4px;
	border: 1px solid #666;
	padding: 4px 8px;
}
.field-content input[type="submit"]{
	border-radius: 4px;
	border: 1px solid #666;
	padding: 4px 24px;
}
.field-content input[type="button"]{
	border-radius: 4px;
	border: 1px solid #666;
	padding: 4px 24px;
}
.field-content textarea{
	width: 400px;
	height: 3em;
	border-radius: 4px;
	border: 1px solid #666;
	padding: 4px 8px;
	margin-left: 2px;
}
.field-content select{
	border-radius: 4px;
	padding: 4px 8px;
	border: 1px solid #666;
	width: 120px;
}
.field-content > select{
	margin-left: 2px;
}
.item_del{
	cursor: pointer;
	color: #333;
}
.item_del:hover{
	color: #F33;
}

.view .field-wrapper{
}
.view .field-content{
	padding: 4px 8px;
}
.view th,
.view td{
	padding: 4px 8px;
}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* nav-links */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
#nav-links{

}
.nav-link{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	width: 140px;
}

.nav-link a{
	display: inline-block;
	border: 1px solid #888;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	width: 140px;
}

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* foot */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
#foot{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #eee;
	padding: 8px 16px;
}